﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="facultad_d.aspx.cs" Inherits="SchoolCDIS.Facultades.facultad_d" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <br />
        <p align="center"  style ="font-size:25px; font-family:'Trebuchet MS';color:black; background-color:aqua; margin-top: 25px;">
              Eliminar Facultad
        </p>
        <br />
        <br />
        <br />

    </div>
<table align ="center" id="tablaAltas">
<tr>
<td><asp:Label ID="lblCodigo" runat="server" Text="Codigo" Font-Bold="True" Font-Names="Trebuchet MS"></asp:Label></td>
<td><asp:TextBox ID="txtCodigo" runat="server" ></asp:TextBox></td>
<td> &nbsp;</td>
</tr>
<tr>
<td><asp:Label ID="lblNomFacu" runat="server" Text="Nombre de Facultad" Font-Bold="True" Font-Names="Trebuchet MS"></asp:Label></td>
<td><asp:TextBox ID="txtNomFacu" runat="server" Enabled ="false"></asp:TextBox></td>
<td> 
    &nbsp;</td>
</tr>
<td align = "center"> <asp:Button ID="btnBuscar" runat="server" Text="Buscar" 
        onclick="btnBuscar_Click" Width="74px" BackColor="#339933" Font-Bold="True" Font-Names="Trebuchet MS" ForeColor="White"/></td>
<td align = "center">
    <asp:Button ID="btnEliminar" runat="server" Text="Eliminar" onclick="btnEliminar_Click" BackColor="#CC3300" Font-Bold="True" Font-Names="Trebuchet MS" ForeColor="White" Width="80px" 
        /></td>
</tr>
</table>

</asp:Content>
